/* # Palette colori */
:root {
  --color-background-dark: #101517;
  --color-background-light: #f2f2f2;
  --color-text-dark: #23282d;
  --color-text-light: #f2f2f2;
  --color-hover-light: #e1e1e1;
  --color-video-play-background: rgba(255, 255, 255, 0.8);
  --color-video-play-hover: rgba(255, 255, 255, 1);
}

/* # Regole generiche */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Slab', serif;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 4rem;
  margin-bottom: 25px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;

  padding: 15px 25px;
  cursor: pointer;
  transition: all ease 0.15s;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* # Regole sezioni */

section {
  padding: 80px 0;
}

/* * Regole sezioni pari */

.even-section {
  background-color: #101517;
  color: #f2f2f2;
}

.even-section button {
  background-color: #f2f2f2;
}

.even-section button:hover {
  background-color: #e1e1e1;
}

/* * Regole sezioni dispari */

.odd-section {
  background-color: #f2f2f2;
  color: #23282d;
}

.odd-section button {
  background-color: #101517;
  color: #f2f2f2;
}

.odd-section button:hover {
  background-color: #23282d;
}

/* * Regole sezione video */

.video-container {
  position: relative;
  overflow: hidden;
  border-radius: 35px;
}

.video-layover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-play {
  background-color: #f2f2f2;
  color: #23282d;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 25px;
}

/* * Regole sezione motto */

.motto-title {
  font-size: 50px;
  text-align: justify;
  line-height: 70px;
  text-indent: 70px;
  letter-spacing: 0px;
  text-shadow: 2px 2px 2px rgb(83, 83, 83);
}

.input-container {
  display: flex;
}

.newsletter-input {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}
.newsletter-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
